*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: #5e92dc;
    width: 180px;
    height: 180px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 100px;
}
.translocar{
    transform: translate(100px, 100px);
}
.rotacao{
    transform: rotate(45deg);
    margin: 80px;
}
.aumentar{
    transform: scale(0.9);
}
.distorcer{
    transform: skew( -20deg, -20deg);
}
.mistura{
    transform: scale(1.5) rotate(30deg)
    translate(150px, 150px);
}
.aumentar:hover{
   transform: scale(1.2); 
   cursor: pointer;
}

@keyframes batimento {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
}
.animacao{
    animation: salto 1s infinite;
}
@keyframes rolando {
    0% {transform: translateX(0);}
    25% {transform: translateX(80px);}
    50% {transform: translateX(160px);}
    75% {transform: translateX(80px);}
    100% {transform: translateX(0px);}  
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}    
}
@keyframes salto {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-30px);}  
}
